
{% extends "@MyTechnosBlog/Front/layout.html.twig" %}


{% block main %}

<!-- Extension du layout au templates fils -->

<style type="text/css">




</style>

  <main>

      <h1>Contact</h1>

    <section class="containerForm">

        <span>Pour toutes questions, suggestions ou remarques n’hésitez pas à me contacter en remplissant le formulaire ci-dessous :</span>

      <form action="" mathod="post">

        <label for="firstName">Votre nom *</label><br>
        <input type="text" name="firstName">

        <p class="clear"></p>


        <label for="email">Email *</label><br>
        <input type="text" name="email">

        <p class="clear"></p>

        <label for="subject">Sujet *</label><br>
        <input type="text" name="subject">

        <p class="clear"></p>

        <label for="message">Message *</label><br>
        <textarea></textarea>

        <p class="clear"></p>

          <input type="submit" value="ENVOYER">

      </form>


    </section>



              <!--
              <figure>
                  <img src="https://themedemo.createandcode.com/jefferson/wp-content/uploads/sites/39/2017/08/post_09-1200x700.jpg">
                  <figcaption>
                        <h4>dlfgjlkdfjglkjdfkgljdfkjg</h4>
                  </figcaption>
              </figure>
              <figure>
                  <img src="https://themedemo.createandcode.com/jefferson/wp-content/uploads/sites/39/2017/08/post_03-1200x700.jpg">
                  <figcaption>
                      <h4>dlfgjlkdfjglkjdfkgljdfkjg</h4>
                  </figcaption>
              </figure>
              <figure>
                  <img src="https://themedemo.createandcode.com/jefferson/wp-content/uploads/sites/39/2017/08/space-1200x700.jpg">
                  <figcaption>
                      <h4>dlfgjlkdfjglkjdfkgljdfkjg</h4>
                  </figcaption>
              </figure>
              <figure>
                  <img src="https://themedemo.createandcode.com/jefferson/wp-content/uploads/sites/39/2017/08/post_02-1200x700.jpg">
                  <figcaption>
                      <h4>dlfgjlkdfjglkjdfkgljdfkjg</h4>
                  </figcaption>
              </figure>
              -->
              <div class="asideContainer">
                  <aside>
                      <h3>Derniers articles</h3>
                      <ul>
                          <li>Toto</li>
                          <li>toto</li>
                          <li>toto</li>
                          <li>Toto</li>
                          <li>toto</li>
                          <li>toto</li>
                      </ul>
                  </aside>
                  <aside>
                      <h3>Catégories</h3>
                      <ul>
                          <li>HTML5 - CSS 3</li>
                          <li>Javascript</li>
                          <li>PHP</li>
                          <li>Toto</li>
                          <li>toto</li>
                          <li>toto</li>
                      </ul>
                  </aside>

                  <aside class="asidebarSocialNetwork">
                      <h2>Suivez-nous</h2>
                      <div>
                          <a href="">
                              <img src="{{ asset('./img/facebook.png') }}" alt="facebook">
                          </a>
                      </div>
                      <div>
                          <a href="">
                              <img src="{{ asset('./img/twitter.png') }}" alt="facebook">
                          </a>
                      </div>
                      <div>
                          <a href="">
                              <img src="{{ asset('./img/google-plus.png') }}" alt="facebook">
                          </a>
                      </div>
                  </aside>
              </div>








  </main>


{% endblock %}



