
{% extends '@MyTechnosBlog/Front/layout.html.twig' %}

{% block main %}

    <main>

        <section class="categorySection">
            <br>
            <h1>Page not found</h1>
            <p>
                Cette page n'existe pas. <a href="{{ path('homepage') }}">Cliquer ici pour revenir à la home</a>.
            </p>
        </section>

    </main>

{% endblock %}