
{% extends "@MyTechnosBlog/Back/layout.html.twig" %}


{% block main %}

<!-- Extension du layout au templates fils -->


  <main>

    <section class="containerAddAdministratorForm">

      <h1>Ajouter administrateur</h1>


        {{ form_start(form) }}
          {{ form_row(form.pseudo) }}
          {{ form_row(form.username) }}
          {{ form_row(form.email) }}
          {{ form_row(form.password.first) }}
          {{ form_row(form.password.second) }}
          <input type="submit" value="Je m'inscrit">
        {{ form_end(form) }}

      <p> <a href="">Revenir à l'acceuil</a> </p>

    </section>



  </main>



{% endblock %}



