
{% extends "@MyTechnosBlog/Front/layout.html.twig" %}


{% block main %}

<!-- Extension du layout au templates fils -->


  <main>

    <section class="containerArticle">

      <h1>Titre article</h1>

      <article>
        <img src="https://themedemo.createandcode.com/jefferson/wp-content/uploads/sites/39/2017/08/post_02-1200x700.jpg" alt="title-img">
        <div class="contentArticle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tristique fermentum ligula, iaculis dignissim nulla molestie eget. Proin pulvinar arcu massa, rhoncus tempor felis sagittis eget. Proin feugiat iaculis rhoncus. Suspendisse maximus felis id ex sagittis, a pellentesque turpis malesuada. Suspendisse sed suscipit ipsum, eget consectetur enim. Donec a ante massa. Pellentesque ut tincidunt purus, eu tincidunt urna. Nulla facilisi. In et finibus odio.

          Suspendisse potenti. In commodo fringilla urna et rhoncus. Donec vel urna rhoncus, fringilla tellus in, volutpat metus. Donec et est eu metus tristique malesuada. Vestibulum auctor vulputate massa, eget lacinia nisl finibus nec. Integer interdum leo arcu, id tincidunt arcu finibus sit amet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum suscipit maximus nisl vitae dapibus. Suspendisse a orci in risus gravida consequat. Donec tincidunt, lectus ut maximus dignissim, libero dolor pulvinar dui, eget suscipit magna odio eu arcu. Nullam mollis velit condimentum nisi commodo, vel feugiat urna egestas. Curabitur eleifend tortor eget nulla feugiat, ac placerat erat egestas. Praesent felis est, malesuada a eros eget, ultricies viverra nisi. Morbi dapibus dolor in suscipit luctus.

          Duis posuere est vel bibendum suscipit. Integer placerat, mauris id viverra ornare, mi ante hendrerit ipsum, et vehicula risus augue quis dui. Cras aliquet tincidunt magna, sit amet finibus odio lacinia vulputate. Donec lorem justo, molestie non lectus at, fermentum blandit mauris. Aliquam ac risus varius, fermentum ligula vitae, malesuada justo. Pellentesque volutpat enim vitae cursus laoreet. Aliquam consectetur erat erat, ut lobortis libero maximus a. Fusce gravida lacus luctus, convallis lectus ac, porttitor ex. Suspendisse mi odio, gravida non quam at, eleifend scelerisque elit. Nulla porttitor maximus tincidunt. Nunc finibus, purus ac dignissim congue, dui nisl blandit eros, id tincidunt lacus felis vitae tellus. Nulla id turpis scelerisque nibh luctus rhoncus. Vivamus facilisis purus id mauris eleifend, at vulputate odio vehicula. In hac habitasse platea dictumst. Quisque aliquam condimentum feugiat. Praesent ac neque orci.

          Morbi elit odio, blandit nec erat vitae, mattis finibus nisl. Aliquam erat volutpat. Vestibulum at tellus fermentum quam elementum malesuada eget in magna. Quisque consequat finibus est ut condimentum. Praesent sagittis nibh auctor enim hendrerit, vitae fringilla sem euismod. Sed scelerisque elit in arcu fringilla, in viverra mi mattis. Aenean lobortis est eu finibus mollis. Vestibulum purus erat, dapibus vitae justo ut, condimentum porttitor tellus. Sed at orci et urna cursus semper. Quisque eu facilisis metus. Donec vitae tincidunt nibh. Pellentesque a pulvinar risus. Ut pellentesque sapien urna, commodo tempor tellus aliquet et. Nulla maximus libero eu justo posuere, eget vulputate massa rutrum.

          Proin et erat quam. Nam congue, turpis id laoreet feugiat, felis metus hendrerit sapien, eget imperdiet turpis urna sit amet neque. Morbi placerat consectetur imperdiet. Nam vitae egestas leo. Aenean ornare sollicitudin quam at interdum. Morbi aliquam, lacus nec pretium feugiat, nunc nunc euismod ligula, quis lobortis ex mi eu ligula. Ut vitae viverra ex. Quisque egestas nisi nunc, ac mattis enim cursus eu. Nunc ac nisi efficitur, fermentum purus a, finibus tortor. Suspendisse gravida tempor imperdiet. Maecenas egestas dolor orci, vel sodales sem porttitor vel. Quisque condimentum a massa at vestibulum. Etiam luctus augue vitae eros scelerisque auctor. Aliquam lacus dolor, efficitur id varius eget, elementum sed dolor. Aenean a nisl viverra, tincidunt elit vitae, auctor nisi. Donec neque neque, luctus sed vulputate nec, imperdiet quis mi.

          Sed non malesuada diam. Mauris eleifend nulla eu enim semper, iaculis elementum velit luctus. Proin in mi sagittis, pulvinar est feugiat, lacinia velit. Vivamus vitae pretium tortor, at fringilla eros. Duis id tortor dolor. Fusce ac leo est. Nunc ultrices ipsum eu lacus condimentum, vitae rhoncus quam placerat. Sed eu risus vitae enim posuere venenatis. Sed id ligula arcu. Aliquam ac pulvinar sapien.

          Nunc sit amet fringilla nisl. Fusce fermentum nisl leo, a semper ante mattis ac. Phasellus sagittis vehicula leo eget vulputate. Proin condimentum, leo pellentesque pharetra porta, lorem dolor sollicitudin eros, ac fringilla lectus nunc eget mauris. Vivamus gravida orci vitae ligula bibendum ornare. Aenean sed tellus non velit iaculis porttitor. Praesent tempus purus justo, quis dapibus enim pretium vitae. Praesent ligula risus, finibus eget vestibulum ac, pulvinar tempus velit. Aliquam varius aliquam leo, quis venenatis purus. Nulla nec nisl id mauris porttitor tincidunt in vitae velit. Integer ut bibendum nulla. Ut rhoncus urna non lacus ultricies volutpat. Morbi volutpat metus sed felis consequat, vel imperdiet dui euismod. Donec tempus accumsan congue. Proin et eros nec ante egestas imperdiet. Maecenas interdum lectus eget sodales ullamcorper.

          Etiam commodo risus a massa ultricies sollicitudin. Ut scelerisque sem et diam ultricies, vitae dictum risus suscipit. Donec ultrices nunc elit, a luctus odio lacinia mattis. Vivamus malesuada quis urna ut sodales. Donec pretium non tellus at fringilla. In scelerisque ex augue, a molestie lorem bibendum vel. Curabitur arcu nunc, blandit quis erat sed, pharetra porttitor enim. Cras imperdiet libero velit, et pellentesque purus euismod consectetur.

          Duis eu est varius, semper nisi id, egestas metus. Nulla facilisi. Nullam id venenatis arcu. Nulla sit amet tellus sit amet eros scelerisque mollis. Integer a nisi ut sem iaculis mattis. Morbi imperdiet risus arcu, tempus varius metus malesuada vitae. Sed sed diam luctus, consectetur ligula ut, facilisis velit. Integer convallis, elit sit amet molestie hendrerit, libero neque faucibus massa, ac maximus ex sapien non sem. Duis condimentum at ipsum ac pulvinar. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam vitae interdum ante.

          Aenean sollicitudin enim a orci egestas, et laoreet nisl efficitur. Nulla ullamcorper pulvinar lacus non vehicula. Sed cursus risus elit, at porta nisi porta vel. Integer rhoncus malesuada augue. Vestibulum ullamcorper lectus in mi accumsan feugiat. Nam nec eros mollis, luctus mauris ut, aliquam libero. Aenean lacinia dignissim fermentum.

          Proin ac purus vitae nisl congue malesuada. Vestibulum tristique diam et consequat auctor. Fusce at odio sed quam porttitor aliquet. Proin sit amet arcu quis nisl tempus mattis ut vel mi. Morbi interdum libero sit amet lectus fermentum, sed efficitur massa tempus. Nunc eleifend malesuada dolor, in sagittis odio fringilla vitae. Donec quis urna in turpis dictum accumsan id at tellus. Nulla a neque velit. Quisque sed consequat felis. Proin felis dui, rhoncus a augue eu, finibus varius enim. Aliquam viverra magna neque, nec faucibus purus scelerisque in. Fusce faucibus turpis lacus, in tempus odio facilisis mattis.

          Integer tristique volutpat lorem eu interdum. Donec eget quam sed diam consectetur cursus. Vivamus nisi metus, venenatis ut iaculis non, pharetra sit amet felis. Nulla vel neque id tortor sollicitudin efficitur vel eget sapien. Nunc vestibulum fermentum venenatis. Ut eros eros, blandit at augue eget, scelerisque mattis enim. Integer id ex feugiat diam ultricies porta vitae in magna.

          Nunc sollicitudin ante id nulla tristique fringilla. Donec nec auctor nunc. Suspendisse egestas ultrices dolor, interdum iaculis diam sagittis eu. Fusce dapibus feugiat euismod. Mauris id urna ac magna rutrum rhoncus. Pellentesque maximus, leo id molestie dictum, purus urna faucibus dui, eu convallis quam elit eget odio. Suspendisse potenti. Quisque id neque quis dui mattis placerat. Praesent sem risus, placerat non euismod eget, gravida nec elit.

          Aenean posuere gravida nibh, eget condimentum odio molestie ut. Donec eu massa id metus lacinia imperdiet. Sed leo elit, tincidunt in hendrerit et, porta vel massa. Sed pretium aliquet sapien, a porta nunc accumsan a. Morbi sodales libero sit amet rutrum aliquam. In vestibulum auctor sagittis. Sed sagittis nunc non rhoncus dictum. Donec vitae porta elit.

          Phasellus malesuada ante non urna malesuada, sed dictum sem pellentesque. Nulla et ex ac erat laoreet pretium et nec eros. Proin sagittis metus a enim commodo lacinia. Pellentesque a tempus sapien. Mauris imperdiet aliquam massa non sollicitudin. Nunc tincidunt erat quis sapien volutpat viverra. In porttitor posuere justo rhoncus fringilla.

          Duis sit amet nisl vel quam blandit pellentesque. Aenean vestibulum in turpis et mollis. Pellentesque neque lacus, blandit a placerat non, elementum nec erat. Ut eget tincidunt ligula, sed pretium nisi. Maecenas at cursus mauris, vitae varius nisl. Nullam pellentesque sollicitudin quam vel lacinia. Nunc venenatis at lacus eget gravida. Integer ante ligula, feugiat vitae enim in, fringilla imperdiet odio. Quisque elit sem, fermentum non malesuada ut, molestie et justo. Proin eu metus eu nisl gravida rhoncus. Ut sed nisi sit amet lorem dictum convallis. Aliquam erat volutpat. Mauris ultrices vestibulum dignissim.

          In hac habitasse platea dictumst. Aliquam quam felis, malesuada at molestie a, ultrices nec lectus. Aenean molestie varius maximus. In hac habitasse platea dictumst. Proin nec tincidunt odio. Suspendisse vel dui et nibh feugiat egestas. Vivamus non mi dui. In convallis ut felis sollicitudin consectetur. Maecenas lacus mauris, condimentum vitae tincidunt at, efficitur vitae libero. Aliquam enim tellus, aliquam eu augue eget, tincidunt consequat felis. Donec aliquet consequat felis a finibus. Donec aliquet, justo vitae condimentum posuere, libero nisl luctus ipsum, a luctus dolor libero eget nulla. Nullam et rhoncus nisl. Aliquam posuere condimentum tortor.

          Sed pulvinar aliquet commodo. Aenean eleifend, velit auctor posuere pretium, turpis diam imperdiet nunc, vel consequat sem sapien in nisl. Etiam cursus sit amet magna lacinia congue. Suspendisse potenti. Vivamus porttitor, odio non imperdiet lacinia, neque dui lobortis dui, nec venenatis dolor massa id ligula. Sed porta mauris in lacus imperdiet blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec porttitor tellus sit amet sapien tristique, et tristique mauris porttitor. Donec nibh augue, ultricies ut eros et, ornare scelerisque nisl. Nullam feugiat magna sit amet odio commodo blandit. Aliquam auctor molestie vestibulum. Nullam mattis malesuada nibh, sit amet dictum nulla placerat a. Proin venenatis nulla vel sapien finibus auctor. Donec accumsan tellus vel convallis maximus. Aliquam feugiat odio ut laoreet pellentesque. Nam eget dapibus nulla.
        </div>
      </article>

      <div class="asideContainer">
        <aside>
          <h3>Derniers articles</h3>
          <ul>
            <li>Toto</li>
            <li>toto</li>
            <li>toto</li>
            <li>Toto</li>
            <li>toto</li>
            <li>toto</li>
          </ul>
        </aside>
        <aside>
          <h3>Catégories</h3>
          <ul>
            <li>HTML5 - CSS 3</li>
            <li>Javascript</li>
            <li>PHP</li>
            <li>Toto</li>
            <li>toto</li>
            <li>toto</li>
          </ul>
        </aside>
        <aside class="asidebarSocialNetwork">
          <h2>Suivez-nous</h2>
          <div>
            <a href="">
              <img src="{{ asset('./img/facebook.png') }}" alt="facebook">
            </a>
          </div>
          <div>
            <a href="">
              <img src="{{ asset('./img/twitter.png') }}" alt="facebook">
            </a>
          </div>
          <div>
            <a href="">
              <img src="{{ asset('./img/google-plus.png') }}" alt="facebook">
            </a>
          </div>
        </aside>

      </div>
    </section>

    <h2>Autre articles</h2>

    <section class="othersArticlesContainer">

        <div class="othersArticle">
          <figure>
            <img src="https://themedemo.createandcode.com/jefferson/wp-content/uploads/sites/39/2017/08/post_02-1200x700.jpg" alt="title-img">
            <figcaption>
              <h3>Totototot</h3>
            </figcaption>
          </figure>
        </div>
        <div class="othersArticle">
          <figure>
            <img src="http://localhost/mon-blog-technos/web/img/mini-smartphone.jpg" alt="title-img">
            <figcaption>
              <h3>Totototot</h3>
            </figcaption>
          </figure>
        </div>
        <div class="othersArticle">
          <figure>
            <img src="https://themedemo.createandcode.com/jefferson/wp-content/uploads/sites/39/2017/08/post_02-1200x700.jpg" alt="title-img">
            <figcaption>
              <h3>Totototot</h3>
            </figcaption>
          </figure>
        </div>
    </section>

  </main>



{% endblock %}



