
{% extends "@MyTechnosBlog/Front/layout.html.twig" %}


{% block main %}

<!-- Extension du layout au templates fils -->


  <main>

    <h1>Inscription</h1>

    <section class="containerRegistrationForm">

      <form method="post" action="">
        <label>
          Nom <span class="star">*</span>
        </label>
        <p class="clear"></p>
        <input type="text" name="fullname">
        <br>
        <label>
          Email <span class="star">*</span>
        </label>
        <p class="clear"></p>
        <input type="text" name="email">
        <br>
        <label>
          Password <span class="star">*</span>
        </label>
        <p class="clear"></p>
        <input type="text" name="password">
        <p class="clear"></p>


        <input type="submit" value="INSCRIPTION">

      </form>

      <p>Vous êtes déja inscrit ? <a href="">Cliquez ici</a> pour vous connecter !</p>

    </section>



  </main>



{% endblock %}



