
{% extends "@MyTechnosBlog/Front/layout.html.twig" %}


{% block main %}

<!-- Extension du layout au templates fils -->


  <main>

    <section class="containerRegistrationForm">


      <h1>Inscription</h1>


        {{ form_start(form) }}
          {{ form_row(form.pseudo) }}
          {{ form_row(form.username) }}
          {{ form_row(form.email) }}
          {{ form_row(form.password.first) }}
          {{ form_row(form.password.second) }}
          <input type="submit" value="Je m'inscrit">
        {{ form_end(form) }}

      <p>Vous êtes déja inscrit ? <a href="">Cliquez ici</a> pour vous connecter !</p>

    </section>



  </main>



{% endblock %}



