<aside class="asidebarSocialNetwork">
    <h2>Suivez-nous</h2>
      <div>
          <a href="https://www.facebook.com/">
            <img src="{{ asset('./img/facebook.png') }}" alt="facebook">
          </a>
      </div>
      <div>
          <a href="https://twitter.com/">
            <img src="{{ asset('./img/twitter.png') }}" alt="twitter">
          </a>
      </div>
      <div>
          <a href="https://aboutme.google.com/u/0/?referer=gplus">
            <img src="{{ asset('./img/google-plus.png') }}" alt="google">
          </a>
      </div>
</aside>