
{% extends "@MyTechnosBlog/Back/layout.html.twig" %}


{% block main %}

  <main>

    <section class="sectionArticle">
      <h1>Modifier un article</h1>

        {{ form_errors(form) }}
          {{ form_start(form) }}
          {{ form_widget(form) }}
        {{ form_end(form) }}


    </section>

  </main>



{% endblock %}



