{% extends "@MyTechnosBlog/Front/layout.html.twig" %}


{% block main %}

    <!-- Extension du layout au templates fils -->
    <main class="resetMainBlock">

        <h1>Réinisialisation de votre mot de passe</h1>

        <section class="sectionResetOne">

            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}

        </section>


    </main>

{% endblock %}



