
{% extends "@MyTechnosBlog/Back/layout.html.twig" %}


{% block main %}

  <main>

    <section class="sectionAll">
      <h1 id="toto">Commentaires membres</h1>

        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="flash-notice">
                {{ flash_message }}
            </div>
        {% endfor %}

        <table style="width:100%">
            <thead>
                <tr>
                    <th class="colunmchild1">Commentaires</th>
                    <th class="colunmchild2">Pseudo</th>
                    <th class="colunmchild3">Titre de l'article</th>
                    <th class="colunmchild4">Date</th>
                    <th class="colunmchild5">Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for comment in comments %}

                    <tr>
                        <td class="colunmchild1">{{ comment.content }}</td>
                        <td class="colunmchild2">{{ comment.pseudo }}</td>
                        <td class="colunmchild3">{{ comment.article.title }}</td>
                        <td class="colunmchild4">{{ comment.date|date('d/m/Y') }}</td>
                        <td class="colunmchild5 leftActionComment">
                            <ul>
                                <li>
                                    <a href="{{ path('admin_delete_comment', { 'id' : comment.id }) }}">
                                        <img src="{{ asset('img/delete.png') }}" alt="delete">
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

        {% include '@MyTechnosBlog/Back/Includes/pagination.html.twig' %}


    </section>

  </main>



{% endblock %}



